.session {
  display: flex;
  justify-content: center;
  background-color: #FF5864;
  min-height: 100%;
  align-items: center;
}

.form-session{
  position: relative;
  width: 400px;
  padding: 20px;
  max-width: 85vw;
  height: 50vh;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 18px 53px 0px rgb(0 0 0 / 30%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;  
}
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.form-container p{
  color: grey;
  font-size: 20px;
  font-weight: 500;
}
.form-container p span{
  color: rgb(47, 0, 255);
}
.form-container h1{
  color: #FF5864;
}
.wrap{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.wrap p {
  width: 300px;
  text-decoration: none;
  color: grey;
  font-size: 20px;
  font-weight: 500;
}
.wrap input{
  width: 300px;
  height: 30px;
  border: none;
  border-bottom: solid 2px #FF5864;
}
.button-session{
  width: 150px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  color: white;
  border: none;
  background-color: #FF5864;
}
.button-session2{
  padding: 10px 20px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  background-color: #FF5864;
}
.alt-options{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: grey;
  font-size: 18px;
  font-weight: 600;
}
.alt-options button{
  padding: 10px 20px;
  color: #FF5864;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  border: solid 2px #FF5864;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.alt-options button:hover{
  color: rgb(0, 157, 255);
  border: solid 2px rgb(0, 157, 255);
}
.alt-options button img{
  width: 20px;
}