.ChatHeader {
    display:flex;
    align-items: center;
    background-color: #ff8c94;
    font-size: 1.2rem;
    width: 100%;
}

.header__icon {
    padding:20px;
}
.headerLinkTwo{
    flex: 1;
    cursor: pointer;
    padding: 20px 10px;
    font-weight: 600;
    color: white;
}
.headerLinkTwo:hover{
    background-color: #f9666c;
    
}
.headerLinkthree:hover{
    background-color: #f9666c;
    
}
.infoContainer{
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 5px;
}