.input{
    border-top: 1px solid #FF5864;
    width: 100%;
    margin: 0;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: grey;
}
.input input:active{
    border: none ;
    margin: 5px;
}
.send{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0px 0px 0px 5px;
}
.send button{
    background-color: #FF5864;
    border: none;
    width: 60px;
    height: 40px;
}

